<h4> This web application allows you to : 
    <ul style="list-style:none">
        <li> Login </li>
        <li> Register </li>
        <li> Comment on advertisements </li>
        <li> Publish your ads </li>
        <li> Edit your ads </li>
        <li> Delete your ads </li>
    </ul>
</h4>
