<center>  
  <h1> Welcome to Advertisement Application </h1>
  <p> The place where you can publish your advertisements !!! </p>
</center>

<br>

<br>
<div class="container">
  <div class="row">
    <div class="col col-lg-4 col-md-4 col-sm-12">
      <%= image_tag("logos/create account.png",width:'100%',height:'100%') %>
    </div>
    <div class="col col-lg-4 col-md-4 col-sm-12">
        <%= image_tag("logos/Login.png",width:'100%',height:'100%') %>
    </div>
    <div class="col col-lg-4 col-md-4 col-sm-12">
        <%= image_tag("logos/publish.png",width:'100%',height:'100%') %>
    </div>
  </div>
</div>
